@import '../variables/variables';

@import '../mixins/mixins';

.acf-repeater {
	.acf-row-handle {
		.acf-icon {
			&.-plus {
				top:0;
				left:-5px;
			}
			&.-copy {
				top:100%;
				top:0;
				right:-5px;
			}
		}
	}
}

.acf-icon {
	&.-copy {
		&:before {
			margin-top:0.125em;
			font-family:'dashicons';
			content:$dashicon-admin-page;
		}
	}
}

.acf-flexible-content .layout:hover .acf-fc-layout-controls .acf-icon.-plus,
.acf-flexible-content .layout.-hover .acf-fc-layout-controls .acf-icon.-plus,
.acf-flexible-content .layout:hover .acf-fc-layout-controls .acf-icon.-minus,
.acf-flexible-content .layout.-hover .acf-fc-layout-controls .acf-icon.-minus {

}

.acf-row {
	&.copy {
		> * {
			font-style:italic !important;
		}
	}
}


.acf-flexible-content {
	.layout {
		.acf-fc-layout-controls,
		.acf-fc-layout-controlls /* acf < 5.7 */ {
			.acf-icon {
				&.-copy {
					visibility:hidden;
				}
			}
		}
		&:hover {
			.acf-fc-layout-controls,
			.acf-fc-layout-controlls /* acf < 5.7 */ {
				.acf-icon {
					&.-copy {
						visibility:visible;
					}
				}
			}
		}
	}
}
